<p id="notice"><%= notice %></p>

    <!-- ##### Single Product Details Area Start ##### -->
    <section class="single_product_details_area d-flex align-items-center">

        <!-- Single Product Thumb -->
        <div class="single_product_thumb clearfix">
        	<div class="owl-show">
                <%= image_tag(@product.image.url) %>
            </div>
        </div>
      
        <!-- Single Product Description -->
        <div class="single_product_desc clearfix">
        	<span><%= @product.category.name %></span>
                <h2><%= @product.title %></h2>
            <p class="product-price"> <%= number_to_currency(@product.price, :unit => "EGP ") %> </p>
           
            <!-- Form -->
            <form class="cart-form clearfix" method="post">
                <!-- Cart & Favourite Box -->
                <div class="cart-fav-box d-flex align-items-center">
                    <!-- Favourite -->
                    <div class="product-favourite ml-4">
                        <%= link_to "", favorites_path(product_id: @product.id), method: :post, remote: true, class: "favme fa fa-heart" %>
                        <br>
                        <%= link_to 'Back', url_for(:back) %>
                    </div>
                </div>
					
            </form>
        </div>
    </section>
